.contacts {
  &__info {
    margin-bottom: 48px;

    &--margin-off {
      margin-bottom: 48px;

      @include on-tablet {
        margin: 0;
      }

      @include on-desktop {
        margin: 0;
      }
    }
  }

  &__info-title {
    font-weight: 700;
    margin: 0 0 16px;
  }

  &__info-subtitle {
    margin: 0 0 4px;

    @include fonts(14px, 27px, 400);
  }

  &__info-phone {
    font-weight: 700;
    color: #3e3e3e;
    margin-bottom: 8px;

    &:hover {
      color: #151515;
    }
  }

  &__info-address {
    color: #3e3e3e;

    @include fonts(16px, 22px, 700);

    &:hover {
      color: #151515;
    }
  }

  &__field {
    margin: 0 0 16px;

    &:last-child {
      margin: 0 0 32px;
    }

    &--last {
      margin-bottom: 32px;
    }
  }
}
