.header {
  background-image: url('../images/header.png');

  @include background(no-repeat, center, cover);

  &__content {
    box-sizing: border-box;
    height: 100vh;
    padding-top: $header-padding-top;

    @include flex(flex, false, space-between, column);

    @include on-tablet {
      padding: $header-padding-top-big;
    }

    @include on-desktop {
      padding: $header-padding-top-big;
    }
  }

  &__top {
    @include top-actions;
  }

  &__wrapper {
    @include flex(flex, false, flex-end, row);
  }

  &__call {
    margin-right: 30px;
    text-decoration: none;
    transition: opacity 0.3s;

    @include on-tablet {
      margin-right: 63px;
    }

    @include on-desktop {
      &::before {
        content: "The Met Fifth Avenue +1 212-535-7710";
        display: block;
        font-weight: 700;
        text-align: right;
        text-shadow: 18px 4px 26px rgba(0, 0, 0, 0.44);
        color: $color-white;
        padding-right: 20px;
        margin-right: 63px;
        opacity: 0;
        pointer-events: none;
        transform: translate(-100%, -80%);
        transition: opacity 0.3s ease-in-out, pointer-events 0s ease-in-out;

        @include sizes(185px, 54px);
      }

      &::after {
        content: "The Met Cloisters +1 212-923-3700";
        display: block;
        font-weight: 700;
        text-align: right;
        text-shadow: 18px 4px 26px rgba(0, 0, 0, 0.44);
        color: $color-white;
        padding-right: 20px;
        margin-right: 63px;
        opacity: 0;
        pointer-events: none;
        transform: translate(-100%, -70%);
        transition: opacity 0.3s ease-in-out, pointer-events 0s ease-in-out;

        @include sizes(175px, 54px);
      }

      &:hover::before,
      &:hover::after {
        opacity: 1;
        pointer-events: all;
        transition: opacity 0.5s ease-in-out, pointer-events 1s;
      }

      &:not(:hover)::before,
      &:not(:hover)::after {
        transition: opacity 1s ease-in-out 0.5s, pointer-events 1s ease-in-out 0.5s;
      }
    }
}

  &__title {
    text-align: center;
    letter-spacing: -1.5px;
    color: $color-white;
    margin: 0;
    padding-bottom: 80%;

    @include fonts(40px, 40px, 700);

    @include on-tablet {
      padding-bottom: $header-padding-bottom-title;

      @include fonts(64px, 64px, 700);
    }

    @include on-desktop {
      padding-bottom: $header-padding-bottom-title;

      @include fonts(80px, 80px, 700);
    }
  }
}
